/* src/components/Auth/Auth.css */

.auth-container {
  background: url('../../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
}

input, select {
  border-radius: 6px !important;
}
